nav > ul {
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
}

nav {
    background-color: #435fc1;
    border: 1px solid #435fc1;
}

body {
    background-color: #c8dbf6;
}

.nav-item {
    display: inline-block;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

.description {
    text-align: center;
    font-style: italic;
}

.links{
    text-align: center;
    color: red;
    font-size: 14px;
}


img {
    width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.icon-menu:before {
    content: "\e9bd";
  }

@media (min-width: 400px) {
    .icon-menu {
    display: none
    }
}


#main-nav ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
  }
  
#main-nav:hover ul {
    display: block;
}
